PORT=5000
MONGO_URI=mongodb://localhost:27017/k_designs
JWT_SECRET=super_secret_k_designs_key_123!
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=585
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=
